/* About Section Styles */
.about-section {
  background-color: #ffffff;
}

.about-title {
  color: #44403c;
}

.about-text {
  color: #78716c;
}

.about-check-icon {
  color: #75dddd;
}

.about-highlight-text {
  color: #44403c;
}

.about-portfolio-button {
  background-color: #1a1a2e;
  color: #ffffff;
}

.about-portfolio-button:hover {
  background-color: #75dddd;
  color: #172a3a;
}

.about-gradient-box {
  background: #E6E6E6;
}

.about-gradient-text {
  color: #1E1E1E;
}


